@page
@model Recipe_Website.Pages.Admin.Recipes.IndexModel
@{
}

<h2 class="text-center mb-5"> List of Recipes</h2>

<div class="row mb-5">
    <div class="col">
        <a class='btn btn-primary' href='/Admin/Recipes/Create'>New Recipe</a>
    </div>

    <div class="col">
        <form class="d-flex">
            <input class="form-control me-2" type="search" name="search" value="@Model.search" placeholder="Search by Title or Category" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<script>
    function sortTable(column) {
        let orderBy = "desc";
        let currentColumn = "@Model.column";
        let currentOrder = "@Model.orderBy";

        if (column == currentColumn) {
            if (currentOrder == "asc") orderBy = "desc";
            else orderBy = "asc";
        }

        window.location.href = "?search=@(Model.search)&column=" + column + "&orderBy=" + orderBy;
    }
</script>

<table class="table">
    <tr>
        <th style="cursor: pointer;" onclick="sortTable('Id')">ID</th>
        <th style="cursor: pointer;" onclick="sortTable('Title')">Title</th>
        <th>Description</th>
        <th>Ingredients</th>
        <th>Instructions</th>
        <th style="cursor: pointer;" onclick="sortTable('Category')">Category</th>
        <th>ImageUrl</th>
        <th style="cursor: pointer;" onclick="sortTable('CreatedAt')">Created at</th>
        <th>Action</th>
    </tr>

    @foreach(var recipe in Model.Recipes)
    {
        <tr>
            <td>@recipe.Id</td>
            <td>@recipe.Title</td>
            <td>@recipe.Description</td>
            <td>@recipe.Ingredients</td>
            <td>@recipe.Instructions</td>
            <td>@recipe.Category</td>
            <td><img src="/RecipeImages/@recipe.ImageUrl" width="100"/></td>
            <td>@recipe.CreatedAt.ToString("MM/dd/yyyy")</td>
            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" href="/Admin/Recipes/Edit?id=@recipe.Id">Edit</a>
                <a class="btn btn-danger btn-sm" href="/Admin/Recipes/Delete?id=@recipe.Id">Delete</a>

            </td>

        </tr>
    }

</table>

<nav>
    <ul class="pagination">
        @for(int i = 1; i <= Model.totalPages; i++)
        {
            string active = "";
            if (i == Model.pageIndex) active = "active";
            <li class="page-item @active" aria-current="page">
                <a class="page-link" href="?pageIndex=@(i)&search=@(Model.search)&column=@(Model.column)&orderBy=@(Model.orderBy)">@i</a>
           </li> 
        }
    </ul>
</nav>